@{
  Layout = "_Layout";
}

@model BakeryShop.Models.Flavor
<div class="min-h-screen py-6 flex flex-col justify-center sm:py-12 bg-yellow-300">
  <div class="relative py-3 max-w-screen mx-auto">
    <div class="object-center ">
      <h2>Edit</h2>

      <h4>Edit this Flavor: @Html.DisplayFor(model => model.FlavorName)</h4>

      @using (Html.BeginForm())
      {
        @Html.HiddenFor(model => model.FlavorId)

        @Html.LabelFor(model => model.FlavorName)
        @Html.EditorFor(model => model.FlavorName)

        @Html.Label("Select Treat")
        @Html.DropDownList("TreatId")

        <input type="submit" value="Save" />
      }

      <p>@Html.ActionLink("Back to Flavor Index", "Index")</p>
    </div>
  </div>
</div>