@{
  Layout = "_Layout";
}

@using BakeryShop.ViewModels

@model RegisterViewModel
<div class="min-h-screen py-6 flex flex-col justify-center sm:py-12 bg-yellow-300">
  <div class="relative py-3 max-w-screen mx-auto">
    <div class="object-center ">
      <h2>Register a new user</h2>
      <hr />
      @using (Html.BeginForm("Register", "Account", FormMethod.Post))
      {
        @Html.LabelFor(user => user.Email)
        @Html.TextBoxFor(user=> user.Email)

        @Html.LabelFor(user=> user.Password)
        @Html.PasswordFor(user=> user.Password)

        @Html.LabelFor(user=> user.ConfirmPassword)
        @Html.PasswordFor(user=> user.ConfirmPassword)

        <input type="submit" value="Register" />
      }
    </div>
  </div>
</div>
